.h2
  padding: 8px
  padding-inline: 18px
  margin-bottom: 20px 
  border-radius: 30px
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1)
  background: $primary-color
  color: $white-color
  font-weight: bold
  font-size: $h2-font-size
