.ratingBox
  position: relative
  display: flex
  gap: 3px

.ratingCircle
  width: 15px
  height: 15px
  background: $medium-color
  border-radius: 100%

.activeRatingBox
  position: absolute
  display: flex
  gap: 3px

.activeRatingCircle
  width: 15px
  height: 15px
  background: $rate-yellow-color
  border-radius: 100%
