$primary-color: #465577
$light-color: #F2F2F2
$medium-color: #d9d9d9
$white-color: #ffffff
$black-color: #000000
$dark-grey-color: #666666
$grey-color: #4D4D4D
$point-red-color: #9E1414
$point-green-color: #26B1C9
$rate-yellow-color: #faaf2d

$h1-font-size: 24px
$h2-font-size: 18px
$normal-font-size: 16px
$small-font-size: 14px
$x-small-font-size: 12px
$small-line-height: 19px
$normal-line-height: 21px

$vertical-thumbnail-height: 230px
$horizontal-thumbnail-height: 200px